<html>
<head>
<title> abc </title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="layout.css" />
<script>
	var socket = io("https://taducminh2004.cleverapps.io/");
	$(document).ready(function(){
		$("#btnSend").click(function(){
			//socket.emit("mode", "abc");
			//var a = $("input[name='txtMode']").val();
			socket.emit("data", {temp: $("input[name='txtValue']").val(), gas:$("input[name='txtValue']").val() });
			alert("nhan button");
		});
	});
</script>

</head>
<body>
	helloworld!
	<input type="text" name="txtValue" />
	<input type="button" id="btnSend" value="Send" />
</body>
</html>