<html>
<head>
<title> abc </title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="layout.css" />
<script>
	var socket = io("https://quangtien.cleverapps.io/");
	$(document).ready(function(){

		//socket.emit("mode", "abcd");
		$("#btnMode").click(function(){
			//socket.emit("mode", "abc");
			//var a = $("input[name='txtMode']").val();
			socket.emit("mode", $("input[name='txtMode']").val());
			alert("nhan button");
		});
	});
</script>

</head>
<body>
	helloworld!
	<input type="text" name="txtMode" />
	<input type="button" id="btnMode" value="Mode" />
</body>
</html>